* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: radial-gradient(circle at 20% 20%, #132033, #0b0d15);
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}
